# Set default behavior to automatically normalize line endings.
* text=auto

*.bat text eol=crlf
*.cmd text eol=crlf

*.in text eol=lf
*.sh text eol=lf

*.gif binary
*.ico binary
*.jpg binary
*.png binary

*.sln text=auto eol=crlf

.cargo/* text=auto eol=lf

*.cs text=auto diff=csharp
*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot diff=astextplain
*.DOT diff=astextplain
*.pdf diff=astextplain
*.PDF diff=astextplain
*.rtf diff=astextplain
*.RTF diff=astextplain
