# Hidden
/.azuredatastudio/extensions/
/.cache/
/.dbus-keyrings/
/.dotnet/
/.github/token
/.lancra/
/.librarymanager/
/.local/
/.ssh/
/.templateengine/
/.vscode/extensions/
/.bash_history
/.lesshst
/.gitconfig
/.tig_history
/_lesshst

# Windows
/Application Data/
/Contacts/
/Cookies/
/Desktop/
/Documents/
/Downloads/
/Favorites/
/Links/
/Local Settings/
/Music/
/My Documents/
/NetHood/
/OneDrive/
/Pictures/
/PrintHood/
/Recent/
/Saved Games/
/Searches/
/SendTo/
/Start Menu/
/Templates/
/Videos/
/NTUSER.DAT*
/ntuser.ini

# Windows User App Data
/AppData/**
!/AppData/Local/
!/AppData/Local/Packages/
!/AppData/Roaming/

# Android Studio
/.android/
/.config/.android/

# Azure CLI
/.azure/**
!/.azure/config

# Azure Data Studio
!/AppData/Roaming/azuredatastudio/
!/AppData/Roaming/azuredatastudio/User/
!/AppData/Roaming/azuredatastudio/User/keybindings.json
!/AppData/Roaming/azuredatastudio/User/settings.json

# bat
!/AppData/Roaming/bat

# Docker
/.docker/**
!/.docker/config.json
!/.docker/daemon.json

# Environment
/.config/env/.ignored-user-variables.json

# GitHub CLI
!/AppData/Roaming/GitHub CLI/
!/AppData/Roaming/GitHub CLI/config.yml

# GPG
/.gnupg/**
!/.gnupg/gpg-agent.conf
!/AppData/Roaming/gnupg/
!/AppData/Roaming/gnupg/gpg-agent.conf

# Lemminx LSP
/.config/lemminx/cache/

# LSDeluxe (lsd)
!/AppData/Roaming/lsd/
!/AppData/Roaming/lsd/config.yaml

# nushell
/.config/nushell/history.txt
!/AppData/Roaming/nushell

# PDFsam
/.openjfx/cache
/.sambox.cache

# Podman
/.config/containers/

# RuneScape
/.runelite/
/jagexcache/
/jagex_cl_*.dat
/jagexappletviewer.preferences
/random.dat

# Rust
/.rustup/**
!/.rustup/settings.toml
/projects/

# Vim
/.config/vim/.backup/
/.config/vim/.swap/
/.config/vim/.undo/
/.config/vim/plugged/
/.config/vim/.netrwhist
/.config/vim/viminfo

# Visual Studio Code
!/AppData/Roaming/Code/
!/AppData/Roaming/Code/User/
!/AppData/Roaming/Code/User/keybindings.json
!/AppData/Roaming/Code/User/settings.json

# Windows Package Manager
!/AppData/Local/Packages/Microsoft.DesktopAppInstaller_8wekyb3d8bbwe/
!/AppData/Local/Packages/Microsoft.DesktopAppInstaller_8wekyb3d8bbwe/LocalState/
!/AppData/Local/Packages/Microsoft.DesktopAppInstaller_8wekyb3d8bbwe/LocalState/settings.json

# Windows Terminal
!/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/
!/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/
!/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/settings.json
!/AppData/Local/Packages/Microsoft.WindowsTerminalPreview_8wekyb3d8bbwe/
!/AppData/Local/Packages/Microsoft.WindowsTerminalPreview_8wekyb3d8bbwe/LocalState/
!/AppData/Local/Packages/Microsoft.WindowsTerminalPreview_8wekyb3d8bbwe/LocalState/settings.json
