# Hidden
/.android/
/.AndroidStudio3.0/
/.autorest/
/.azure/
/.azuredatastudio/extensions/
/.azure-devops/
/.cache/
/.DbSchema/
/.dbus-keyrings/
/.dbvis/
/.dnx/
/.docker/
/.dotnet/
/.gimp-2.8/
/.github/token
/.gradle/
/.IdeaIC2016/
/.idlerc/
/.lancra/
/.lemminx/
/.librarymanager/
/.net/
/.ngrok/
/.nuget/packages/
/.openjfx/
/.oracle_jre_usage/
/.ssh/
/.templateengine/
/.thumbnails/
/.vs/Extensions/
/.vscode/extensions/
/.bash_history
/.lesshst
/.sambox.cache
/.gitconfig
/.tig_history
/.v8flags.*.json
/.viminfo
/_viminfo

# Windows
/3D Objects/
/Application Data/
/Contacts/
/Cookies/
/Desktop/
/Documents/
/Downloads/
/Favorites/
/Games/
/Links/
/Local Settings/
/Music/
/My Documents/
/NetHood/
/OneDrive/
/Pictures/
/PrintHood/
/Recent/
/Saved Games/
/School/
/Searches/
/SendTo/
/Shortcuts/
/Start Menu/
/Templates/
/Videos/
/NTUSER.DAT*
/ntuser.ini

# Miscellaneous
/ansel/
/go/
/IntelGraphicsProfiles/
/MicrosoftEdgeBackups/
/node_modules/
/NucleusCoop/
/T-Engine/
/npm-debug.log*

# Windows user app data
/AppData/**

!/AppData/Local/
!/AppData/Local/Packages/

!/AppData/Local/Packages/Microsoft.DesktopAppInstaller_8wekyb3d8bbwe/
!/AppData/Local/Packages/Microsoft.DesktopAppInstaller_8wekyb3d8bbwe/LocalState/
!/AppData/Local/Packages/Microsoft.DesktopAppInstaller_8wekyb3d8bbwe/LocalState/settings.json

!/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/
!/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/
!/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/settings.json

!/AppData/Roaming/
!/AppData/Roaming/GitHub CLI/
!/AppData/Roaming/GitHub CLI/config.yml

# Azure Data Studio
!/AppData/Roaming/azuredatastudio/
!/AppData/Roaming/azuredatastudio/User/
!/AppData/Roaming/azuredatastudio/User/keybindings.json
!/AppData/Roaming/azuredatastudio/User/settings.json
!/AppData/Roaming/azuredatastudio/User/snippets
!/AppData/Roaming/azuredatastudio/User/snippets/*

# GPG
/.gnupg/**
!/.gnupg/gpg-agent.conf
!/AppData/Roaming/gnupg/
!/AppData/Roaming/gnupg/gpg-agent.conf

# LSDeluxe (lsd)
!/AppData/Roaming/lsd/
!/AppData/Roaming/lsd/config.yaml

# RuneScape
/.runelite/
/jagexcache/
/jagex_cl_*.dat
/jagexappletviewer.preferences
/random.dat

# Rust
/.cargo/
/.rustup/**
!/.rustup/settings.toml
/projects/

# VS Code
!/AppData/Roaming/Code/
!/AppData/Roaming/Code/User/
!/AppData/Roaming/Code/User/keybindings.json
!/AppData/Roaming/Code/User/settings.json
