[branch]
	sort = -committerdate
[clone]
	defaultRemoteName = origin
[commit]
	gpgSign = true
[core]
	autocrlf = false
	editor = 'c:/Program Files/Vim/vim91/vim.exe'
	symlinks = true
[diff]
	algorithm = histogram
	colorMoved = default
	mnemonicPrefix = true
	renames = true
	tool = vscode
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = ~/.config/git/alias.gitconfig
	path = ~/.config/git/delta.gitconfig
[init]
	defaultBranch = main
	defaultObjectFormat = sha1
	defaultRefFormat = files
[merge]
	conflictStyle = zdiff3
	tool = vscode
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "meld"]
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
	useAutoMerge = true
[push]
	autoSetupRemote = true
	default = current
[rebase]
	autosquash = true
	updateRefs = true
[remote "origin"]
	followRemoteHead = always
[rerere]
	autoUpdate = true
	enabled = true
[tag]
	gpgSign = true
	sort = version:refname
[user]
	email = lancra@outlook.com
	name = Lance Craig
	signingKey = lancra@outlook.com
[versionSort]
	suffix = -
[winUpdater]
	recentlySeenVersion = 2.24.1.windows.2
