# Hidden
/.dbus-keyrings/
/.dotnet/
/.github/token
/.lancra/
/.librarymanager/
/.ssh/
/.templateengine/
/.vscode/
/.bash_history
/.gitconfig
/.tig_history

# Windows
/Application Data/
/Contacts/
/Cookies/
/CrossDevice/
/Desktop/
/Downloads/
/Favorites/
/Links/
/Local Settings/
/Music/
/My Documents/
/NetHood/
/OneDrive/
/Pictures/
/PrintHood/
/Recent/
/Saved Games/
/Searches/
/SendTo/
/Start Menu/
/Templates/
/Videos/
/NTUSER.DAT*
/ntuser.dat*
/ntuser.ini

# Windows User App Data
/AppData/**
!/AppData/Local/
!/AppData/Local/Packages/
!/AppData/Roaming/

# Windows User Documents
/Documents/**

# Android Studio
/.android/
/.config/.android/

# Atuin
/.local/share/atuin/

# Azure CLI
/.azure/**
!/.azure/config

# bat
!/AppData/Roaming/bat

# digiKam
/.local/share/digikam

# Docker
/.docker/**
!/.docker/config.json
!/.docker/daemon.json

# Dotnet Tools Outdated
/.config/dotnet-tools-outdated/appsettings-fulltemplate.json

# Environment
/.config/env/.ignored-user-variables.json

# Git
/.config/git/alias.gitconfig

# GitHub CLI
!/AppData/Roaming/GitHub CLI/
!/AppData/Roaming/GitHub CLI/config.yml

# GPG
/.gnupg/**
!/.gnupg/gpg-agent.conf
!/AppData/Roaming/gnupg/
!/AppData/Roaming/gnupg/gpg-agent.conf

# hl
!/AppData/Roaming/hl

# Less
/.lesshst
/.local/share/lesshst
/_lesshst

# LSDeluxe (lsd)
!/AppData/Roaming/lsd/
!/AppData/Roaming/lsd/config.yaml

# nushell
/.config/nushell/history.txt
!/AppData/Roaming/nushell

# PDFsam
/.openjfx/cache
/.sambox.cache

# Podman
/.config/containers/
/.local/share/containers/

# PowerShell Core
!/Documents/PowerShell/
!/Documents/PowerShell/*_profile.ps1
!/Documents/PowerShell/powershell.config.json

# PowerShell Windows
!/Documents/WindowsPowerShell/
!/Documents/WindowsPowerShell/*_profile.ps1

# RuneScape
/.runelite/
/jagexcache/
/jagex_cl_*.dat
/jagexappletviewer.preferences
/random.dat

# Rust
/.rustup/**
!/.rustup/settings.toml
/projects/

# tealdeer
!/AppData/Roaming/tealdeer/
!/AppData/Roaming/tealdeer/tealdeer/
!/AppData/Roaming/tealdeer/tealdeer/config.toml

# Vim
/.config/vim/.backup/
/.config/vim/.swap/
/.config/vim/.undo/
/.config/vim/plugged/
/.config/vim/UltiSnips/
/.config/vim/.netrwhist
/.config/vim/viminfo

# Visual Studio Code
/vscode-remote-wsl/
/.config/vscode/settings.json
!/AppData/Roaming/Code/
!/AppData/Roaming/Code/User/
!/AppData/Roaming/Code/User/keybindings.json
!/AppData/Roaming/Code/User/settings.json

# Windows Package Manager
!/AppData/Local/Packages/Microsoft.DesktopAppInstaller_8wekyb3d8bbwe/
!/AppData/Local/Packages/Microsoft.DesktopAppInstaller_8wekyb3d8bbwe/LocalState/
!/AppData/Local/Packages/Microsoft.DesktopAppInstaller_8wekyb3d8bbwe/LocalState/settings.json

# Windows Terminal
!/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/
!/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/
!/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/settings.json
!/AppData/Local/Packages/Microsoft.WindowsTerminalPreview_8wekyb3d8bbwe/
!/AppData/Local/Packages/Microsoft.WindowsTerminalPreview_8wekyb3d8bbwe/LocalState/
!/AppData/Local/Packages/Microsoft.WindowsTerminalPreview_8wekyb3d8bbwe/LocalState/settings.json

# XDG
/.cache/
/.local/state/
